@model CoreAndFood.Data.Models.Category

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Add</h2>

<br/>

@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    <h4>Category Name</h4>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", @id = "categoryName" })

    <br/>

    <h4>Category Description</h4>
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control", @style = "height: 100px;", @id = "categoryDescription" })

    <br/>

    <button class="btn btn-primary" id="addCategorySaveButton">Save</button>
}
